   body {
		overflow:hidden;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		margin:0px; padding:0px;
   }

   canvas {
		border:1px solid #d3d3d3; 
		margin:0px; padding:0px;
		background-color:black;
   }
   
   #myCanvas {
		position:absolute;
		left:0;
		top:0;
		z-index: 3;
   }
   
    #myCanvas2 {
		
   }
   
	#Canvas2Container {
		position:absolute;
		left:0;
		top:0;
		z-index: 2;
		padding:25px;
		padding-bottom:20px;
		background-color:#d3d3d3;
	}
   
   #main1 {
   float:left;
   }
   